body{background-color: pink;}

p{text-align: center;}
.card {background-color: palevioletred; border-radius: 8px;float: left;width: 500px;height: 500px; margin: 30px;}
.card img {width: 70%; height: auto;}
.card h1 { text-align: center;
  padding: 15px;
  margin: 0;
  font-size: 50px;
}

.card p {
  padding: 15px;
  font-size: 14px;
  color: #ecdddd;
}
