body{background-color: palevioletred;}
h1{text-align: center;font-style: oblique; font-size: 80px;}
h2{text-align: center;}
.card{background-color: pink;border-radius: 8px;width: 500;height: 700;float: inline-start; margin: 120px;}

.card img{margin-left: 30px;}
table{width: 400;height: 100;margin-left: 30px;}
table{border-color: palevioletred;}
p {text-align: center;}